<div class="form-container">

  <form action=""  method="post">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento</h1>
    <div class="form-control">
      <label for="title">Pensamento:</label>
      <input type="text" name="title" placeholder="Digite seu pensamento">
    </div>

    <input type="submit" value="Criar Pensamento">
  </form>
</div>